$max-width: 1024px;
$basic-width: 390px;
$header-height: 64px;
$interface-height: 75px;

$color-black-1:#16181B;
$color-gray-1:#555555;
$color-gray-2:#F3F4F6;
$color-gray-3:#EBEDEF;
$color-gray-4:#D2D8E1;
$color-gray-5:#8C8E91;
$color-gray-6:#64696E;


$color-green-1: #68811c;
$color-green-2: #aace3c;
$color-green-3: #C3EE41;
$color-red-1:#FF414D;

$root-color:#C3EE41;
