$max-width: 1024px;
$basic-width: 390px;
$header-height: 64px;
$interface-height: 75px;

$color-black-1:#16181B;
$color-gray-1:#555555;
$color-gray-2:#F3F4F6;
$color-gray-3:#EBEDEF;
$color-gray-4:#D2D8E1;
$color-gray-5:#8C8E91;
$color-gray-6:#64696E;


$color-green-1: #0095FF;
$color-green-2: #0181dc;
$color-green-3: #0268b1;
$color-red-1:#FF414D;

$hint-color: #cc00d3;

$root-color:#98D5FF;
