$max-width: 1024px;
$header-height: 64px;
$interface-height: 75px;

$color-black-1:#16181B;
$color-gray-1:#555555;
$color-gray-2:#F3F4F6;
$color-gray-3:#EBEDEF;
$color-gray-4:#D2D8E1;
$color-gray-5:#8C8E91;
$color-gray-6:#64696E;


$color-green-1: #00663A;
$color-green-2: #00D37A;
$color-green-3: #59DC94;
$color-red-1:#FF414D;

$hint-color: #FF7448;

$root-color:#91E6B3;
