.header-3{
    font-weight: 700;
    line-height: 130%;
    font-size: 34px;
    letter-spacing: -0.04em;
}

.heading-3{
    font-weight: 700;
    line-height: 130%;
    font-size: 24px;
    letter-spacing: -0.04em;
    color: $color-black-1;
}

.heading-4{
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: $color-black-1;
}

.heading-6{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.body-1{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.04em;
}

.body-2{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.04em;
}