@import './variables';
@import './mixins';

.banner{
    width: 100%;
    background: center /cover no-repeat url("/assets/img/background.jpg");
    .wrapper{
        padding: __vw(60px) __vw(20px) __vw(31px);
    }
    small{
        display: block;
        font-size: 16px;
        line-height: 150%;
        font-weight: 700;
        letter-spacing: -0.04em;
        color: $color-green-1;
        margin-bottom: __vw(4px);
    }
    h3{
        display: block;
        margin-bottom: __vw(20px);
        span{
            font-size: 24px;
        }  
    }
    .date{
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 24px;
    }
    .description{
        display: block;
        border-radius: 6px;       
        background: #fff;
        padding: __vw(12px) __vw(20px) __vw(12px);
        box-shadow: 4px 0px 20px 0px #00000017;
    }
}

.description-section{
    padding: 20px;
    .description-content{
        padding: 20px;
        background: $content-color;
        border-radius: 8px;
        .info{
            display: inline-block;
            background: #333;
            color: #fff;
            padding: 5px 12px;
            border-radius: 25px;
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: -0.04em;
            margin-bottom: 8px;
        }
    }
    .mark{
        font-size: 12px;
        color: $color-green-2;
        font-weight: 700;
    }
}

.category-list{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.26);
    padding: 0 __vw(20px);
    .category{
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: __vw(14px) 10px;
        position: relative;
        color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        &:not(:last-of-type){
            margin-right: __vw(15px);
        }
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 1px;
            bottom: 0px;
            background: transparent;
            transition: 300ms ease-in-out;
        }
        &:hover,&:hover, &.active{
            color: rgba(0, 0, 0, 1);
            transition: 300ms ease-in-out;
            &::after{
                transition: 300ms ease-in-out;
                background: #000;
            }
        }
        &:hover,&:hover{
            color: rgba(0, 0, 0, 1);
        }
    }
}

.list{
    display: block;
    width: 100%;
    margin-bottom: __vw(50px);
    li{
        display: flex;
        width: 100%;
    }
    .li{
        display: flex;
        width: 100%;
        &:hover,&:active{
            background: #ecebeb8e;
        }
        &:not(:last-of-type){
            border-bottom: 1px solid #DDDDDD;
        }
        a{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: __vw(18px) __vw(20px);
            position: relative;
            min-height: 100px;
            .list-wrapper{
                .subtitle{
                    display: block;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                }
                .keywords{
                    margin-top: 0.2rem;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 150%;
                    color: $color-gray-1;
                    display: flex;
                    gap: 0.2rem;
                    letter-spacing: 0.05rem;
                    color: #333;
                    b{
                        color: #000;
                    }
                }
                .date-time{
                    margin-top: 10px;
                    font-size: 12px;
                    line-height: 150%;
                    font-weight: 400;
                    color: $color-gray-1;
                    display: flex;
                    color: #333;
                    .mark{
                        margin-left: 0.8rem;
                        font-size: 12px;
                        color: $color-green-2;
                        font-weight: 700;
                    }
                }
            }
            .list-state{
                .subtitle{
                    display: block;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                    margin-bottom: 5px;
                }
            }
            .arrow-btn{
                
            }
            .list-status-bar{
                display: flex;
                border-radius: 25px;
                overflow: hidden;
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
                .bar{
                    display: block;
                    min-width: __vw(40px);
                    height: __vw(3px);
                    opacity: 0.8;
                    background: #DDDDDD;
                    border-radius: 25px;
                    &:not(:last-of-type){
                        margin-right: 2px;
                    }
                    &[data-type="success"]{
                        background: $root-color;
                    }
                    &[data-type="fail"]{
                        background: $color-red-1;
                    }
                }
            }
        }
    }
}

.nav-bar{
    width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 12;
    border-top: 1px solid $color-gray-3;
    display: flex;
    justify-content: center;
    height: $nav-bar-height;
    .group{
        width: 100%;
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        .left{
            display: flex;
            align-items: center;
            .coffee-text{
                display: block;
                margin-left: 20px;
            }
            .coffee-icon-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 50px;
                height: 50px;
                background-color: $root-color;
                border-radius: 50%;
                &:hover{
                    .toss-icon{
                        transform: scale(1);
                        transition: 300ms ease-in-out;
                    }
                }
                .toss-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: scale(0.8);
                    transition: 300ms ease-in-out;
                    aspect-ratio: 3 / 1;
                    img{
                        display: block;
                        width: 50px;
                        height: 15.5px;
                    }
                }
                .coffee-icon{
                    position: absolute;
                    z-index: 2;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                }
            }
               
        }
    }
}

@media screen and (max-width:1024px) {
    .banner{
        .wrapper{
            padding: __vw(30px) __vw(20px) __vw(31px);
        }
    }
}
