@use "sass:math";
@-webkit-keyframes text-shadow {
  from, 19.9% {
    text-shadow: 0px 0px #15007F, 1px 1px #15007F, 2px 2px #15007F, 2px 2px #FD138A, 3px 3px #FD138A, 4px 4px #FD138A, 4px 4px #FFBA00, 5px 5px #FFBA00, 6px 6px #FFBA00, 6px 6px #F40000, 7px 7px #F40000, 8px 8px #F40000, 8px 8px #28D58F, 9px 9px #28D58F, 10px 10px #28D58F, 10px 10px #15007F, 11px 11px #15007F, 12px 12px #15007F, 12px 12px #FD138A, 13px 13px #FD138A, 14px 14px #FD138A, 14px 14px #FFBA00, 15px 15px #FFBA00, 16px 16px #FFBA00, 16px 16px #F40000, 17px 17px #F40000, 18px 18px #F40000, 18px 18px #28D58F, 19px 19px #28D58F, 20px 20px #28D58F;
  }
  20%, 39.9% {
    text-shadow: 0px 0px #28D58F, 1px 1px #28D58F, 2px 2px #28D58F, 2px 2px #15007F, 3px 3px #15007F, 4px 4px #15007F, 4px 4px #FD138A, 5px 5px #FD138A, 6px 6px #FD138A, 6px 6px #FFBA00, 7px 7px #FFBA00, 8px 8px #FFBA00, 8px 8px #F40000, 9px 9px #F40000, 10px 10px #F40000, 10px 10px #28D58F, 11px 11px #28D58F, 12px 12px #28D58F, 12px 12px #15007F, 13px 13px #15007F, 14px 14px #15007F, 14px 14px #FD138A, 15px 15px #FD138A, 16px 16px #FD138A, 16px 16px #FFBA00, 17px 17px #FFBA00, 18px 18px #FFBA00, 18px 18px #F40000, 19px 19px #F40000, 20px 20px #F40000;
  }
  40%, 59.9% {
    text-shadow: 0px 0px #F40000, 1px 1px #F40000, 2px 2px #F40000, 2px 2px #28D58F, 3px 3px #28D58F, 4px 4px #28D58F, 4px 4px #15007F, 5px 5px #15007F, 6px 6px #15007F, 6px 6px #FD138A, 7px 7px #FD138A, 8px 8px #FD138A, 8px 8px #FFBA00, 9px 9px #FFBA00, 10px 10px #FFBA00, 10px 10px #F40000, 11px 11px #F40000, 12px 12px #F40000, 12px 12px #28D58F, 13px 13px #28D58F, 14px 14px #28D58F, 14px 14px #15007F, 15px 15px #15007F, 16px 16px #15007F, 16px 16px #FD138A, 17px 17px #FD138A, 18px 18px #FD138A, 18px 18px #FFBA00, 19px 19px #FFBA00, 20px 20px #FFBA00;
  }
  60%, 79.9% {
    text-shadow: 0px 0px #FFBA00, 1px 1px #FFBA00, 2px 2px #FFBA00, 2px 2px #F40000, 3px 3px #F40000, 4px 4px #F40000, 4px 4px #28D58F, 5px 5px #28D58F, 6px 6px #28D58F, 6px 6px #15007F, 7px 7px #15007F, 8px 8px #15007F, 8px 8px #FD138A, 9px 9px #FD138A, 10px 10px #FD138A, 10px 10px #FFBA00, 11px 11px #FFBA00, 12px 12px #FFBA00, 12px 12px #F40000, 13px 13px #F40000, 14px 14px #F40000, 14px 14px #28D58F, 15px 15px #28D58F, 16px 16px #28D58F, 16px 16px #15007F, 17px 17px #15007F, 18px 18px #15007F, 18px 18px #FD138A, 19px 19px #FD138A, 20px 20px #FD138A;
  }
  80%, to {
    text-shadow: 0px 0px #FD138A, 1px 1px #FD138A, 2px 2px #FD138A, 2px 2px #FFBA00, 3px 3px #FFBA00, 4px 4px #FFBA00, 4px 4px #F40000, 5px 5px #F40000, 6px 6px #F40000, 6px 6px #28D58F, 7px 7px #28D58F, 8px 8px #28D58F, 8px 8px #15007F, 9px 9px #15007F, 10px 10px #15007F, 10px 10px #FD138A, 11px 11px #FD138A, 12px 12px #FD138A, 12px 12px #FFBA00, 13px 13px #FFBA00, 14px 14px #FFBA00, 14px 14px #F40000, 15px 15px #F40000, 16px 16px #F40000, 16px 16px #28D58F, 17px 17px #28D58F, 18px 18px #28D58F, 18px 18px #15007F, 19px 19px #15007F, 20px 20px #15007F;
  }
}
@keyframes text-shadow {
  from, 19.9% {
    text-shadow: 0px 0px #15007F, 1px 1px #15007F, 2px 2px #15007F, 2px 2px #FD138A, 3px 3px #FD138A, 4px 4px #FD138A, 4px 4px #FFBA00, 5px 5px #FFBA00, 6px 6px #FFBA00, 6px 6px #F40000, 7px 7px #F40000, 8px 8px #F40000, 8px 8px #28D58F, 9px 9px #28D58F, 10px 10px #28D58F, 10px 10px #15007F, 11px 11px #15007F, 12px 12px #15007F, 12px 12px #FD138A, 13px 13px #FD138A, 14px 14px #FD138A, 14px 14px #FFBA00, 15px 15px #FFBA00, 16px 16px #FFBA00, 16px 16px #F40000, 17px 17px #F40000, 18px 18px #F40000, 18px 18px #28D58F, 19px 19px #28D58F, 20px 20px #28D58F;
  }
  20%, 39.9% {
    text-shadow: 0px 0px #28D58F, 1px 1px #28D58F, 2px 2px #28D58F, 2px 2px #15007F, 3px 3px #15007F, 4px 4px #15007F, 4px 4px #FD138A, 5px 5px #FD138A, 6px 6px #FD138A, 6px 6px #FFBA00, 7px 7px #FFBA00, 8px 8px #FFBA00, 8px 8px #F40000, 9px 9px #F40000, 10px 10px #F40000, 10px 10px #28D58F, 11px 11px #28D58F, 12px 12px #28D58F, 12px 12px #15007F, 13px 13px #15007F, 14px 14px #15007F, 14px 14px #FD138A, 15px 15px #FD138A, 16px 16px #FD138A, 16px 16px #FFBA00, 17px 17px #FFBA00, 18px 18px #FFBA00, 18px 18px #F40000, 19px 19px #F40000, 20px 20px #F40000;
  }
  40%, 59.9% {
    text-shadow: 0px 0px #F40000, 1px 1px #F40000, 2px 2px #F40000, 2px 2px #28D58F, 3px 3px #28D58F, 4px 4px #28D58F, 4px 4px #15007F, 5px 5px #15007F, 6px 6px #15007F, 6px 6px #FD138A, 7px 7px #FD138A, 8px 8px #FD138A, 8px 8px #FFBA00, 9px 9px #FFBA00, 10px 10px #FFBA00, 10px 10px #F40000, 11px 11px #F40000, 12px 12px #F40000, 12px 12px #28D58F, 13px 13px #28D58F, 14px 14px #28D58F, 14px 14px #15007F, 15px 15px #15007F, 16px 16px #15007F, 16px 16px #FD138A, 17px 17px #FD138A, 18px 18px #FD138A, 18px 18px #FFBA00, 19px 19px #FFBA00, 20px 20px #FFBA00;
  }
  60%, 79.9% {
    text-shadow: 0px 0px #FFBA00, 1px 1px #FFBA00, 2px 2px #FFBA00, 2px 2px #F40000, 3px 3px #F40000, 4px 4px #F40000, 4px 4px #28D58F, 5px 5px #28D58F, 6px 6px #28D58F, 6px 6px #15007F, 7px 7px #15007F, 8px 8px #15007F, 8px 8px #FD138A, 9px 9px #FD138A, 10px 10px #FD138A, 10px 10px #FFBA00, 11px 11px #FFBA00, 12px 12px #FFBA00, 12px 12px #F40000, 13px 13px #F40000, 14px 14px #F40000, 14px 14px #28D58F, 15px 15px #28D58F, 16px 16px #28D58F, 16px 16px #15007F, 17px 17px #15007F, 18px 18px #15007F, 18px 18px #FD138A, 19px 19px #FD138A, 20px 20px #FD138A;
  }
  80%, to {
    text-shadow: 0px 0px #FD138A, 1px 1px #FD138A, 2px 2px #FD138A, 2px 2px #FFBA00, 3px 3px #FFBA00, 4px 4px #FFBA00, 4px 4px #F40000, 5px 5px #F40000, 6px 6px #F40000, 6px 6px #28D58F, 7px 7px #28D58F, 8px 8px #28D58F, 8px 8px #15007F, 9px 9px #15007F, 10px 10px #15007F, 10px 10px #FD138A, 11px 11px #FD138A, 12px 12px #FD138A, 12px 12px #FFBA00, 13px 13px #FFBA00, 14px 14px #FFBA00, 14px 14px #F40000, 15px 15px #F40000, 16px 16px #F40000, 16px 16px #28D58F, 17px 17px #28D58F, 18px 18px #28D58F, 18px 18px #15007F, 19px 19px #15007F, 20px 20px #15007F;
  }
}

.life_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125vw;
}

.life_numbers .life_number {
  display: block;
  width: 1.04167vw;
  height: 1.04167vw;
  border-radius: 50%;
  background-color: #C3EE41;
}

.life_timer {
  width: 100%;
  height: 2.60417vw;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  bottom: 6.77083vw;
}

.life_timer .bar {
  display: block;
  width: 100%;
  height: 2.60417vw;
  background-color: #C3EE41;
}
/*# sourceMappingURL=Components.module.css.map */