@import "./variables";
@import "./mixins";

.life_numbers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: __vw(6px);
    .life_number{
      display: block;
      width: __vw(20px);
      height: __vw(20px);
      border-radius: 50%;
      background-color: $pointC
    }
}

.life_timer{
    width: 100%;
    height: __vw(20px);
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .bar{
        display: block;
        // width: 100%;
        height: __vw(50px);
        background-color: $pointC;
    }
}
  