@import "./variables";
@import "./mixins";

.life_numbers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: __vw(6);
    .life_number{
      display: block;
      width: __vw(20);
      height: __vw(20);
      border-radius: 50%;
      background-color: $pointC
    }
}

.life_timer{
    width: 100%;
    height: __vw(50);
    overflow-x: hidden;
    position: absolute;
    left: 0;
    bottom: __vw(130);
    .bar{
        display: block;
        // width: 100%;
        height: __vw(50);
        background-color: $pointC;
    }
}
  