@import "./variables";
@import "./mixins";

#main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_texts {
  width: __vw(600);
  text-align: left;
}

.text {
  font-size: __vw(50);
}

.badges {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: __vw(10);
  margin-bottom: __vw(20);
  position: relative;
  .level{
    padding:__vw(10) __vw(15);
    background: rgb(43, 43, 43);
    border-radius: __vw(20);
    color: white;
    position: absolute;
    top: __vw(-60);
  }
}

.container_game {
  position: relative;
  padding: __vw(40) __vw(40);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: __vw(20);
  .__input {
    padding: __vw(10) __vw(15);
    display: flex;
    align-items: center;
    width: __vw(1000);
    height: __vw(120);
    font-size: __vw(30);
    input {
      border: none;
      width: __vw(500);
      height: 100%;
      font-size: __vw(30);
      margin: 0 __vw(20);
      outline-color: transparent;
    }
    button{
      
    }
    .reset{
      padding:__vw(10) __vw(15);
      background-color: gray;
      color: white;
    }
    
    .submit{
      
    }
  }
}

.problem {
  font-size: __vw(55);
  margin-bottom: __vw(16);
}

.hint{
  font-size: __vw(20);
  margin-bottom: __(40);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: __vw(10);
  .hint_hidden{
    padding: __vw(10) __vw(15);
    border-radius: __vw(20);
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgb(53, 53, 53);
  }
  .hint_length{
    padding: __vw(10) __vw(15);
    border-radius: __vw(20);
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgb(53, 53, 53);
  }
}


