@import "./variables";
@import "./mixins";

#main {
  width: 100%;
  height: 100%;
  position: relative;
  background: $pointC;
  .main_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('/img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    cursor: none;
  }
}

.container_texts {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.text {
  text-align: left;
  font-size: __vw(25px);
}

.badges {
  margin-top: __vw(5px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: __vw(10px);
  width: 100%;
  margin-bottom: __vw(5px);
  height: fit-content;
  overflow-y: hidden;
  .level{
    padding:__vw(4px) __vw(9px);
    background: rgb(43, 43, 43);
    border-radius: __vw(20px);
    color: white;
    font-size: __vw(11px);
  }
}
.section_game{
  margin: 0 auto;
  max-width: $max-width;
  padding: __vw(64px) __vw(20px);
  height: 100%;
  overflow: hidden;
}

.container_game {
  overflow: hidden;
  position: relative;
  padding: __vw(20px) __vw(24px);
  width: 100%;
  max-height: __vw(500px);
  min-height: __vw(300px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: __vw(20px);
  background-color: #fff;
  .container_score{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .score{
      display: flex;
      align-items: flex-end;
      b{
        font-size: __vw(25px);
        margin-right: __vw(5px);
        font-weight: 700;
      }
      p{
        font-size: __vw(20px);
        transform: translateY(-0.1rem);
        font-weight: 400;
        color: #505050;
      }
    }
    
  }
  .__input {
    position: absolute;
    left: 0;
    padding: 0 0 0 __vw(20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: __vw(50px);
    font-size: __vw(16px);
    border-top: 1.5px solid rgba(0, 0, 0, 0.164);
    bottom: 0;
    .__answer{
      padding-left: 0.5em;
      font-size: __vw(16px);
      color: cadetblue;
    }
    input {
      height: fit-content;
      font-size: __vw(16px);
      display: flex;
      align-items: center;
      outline-color: transparent;
      border: none;
      padding-left: 0.5em;
    }
    button{
      width: __vw(100px);
      height: 100%;
      display: inline-block;
      color: black;
      font-size: __vw(16px);
    }
    .reset{
      position: absolute;
      background: url('/icon/x.svg') center center / cover;
      width: __vw(15px);
      height: __vw(15px);
      right: __vw(120px);
      z-index: 2;
    }
    
    .submit{
      position: absolute;
      right: 0;
      border-bottom-right-radius: __vw(20px);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      background-color: white;
      z-index: 2;
      transform: translateY(__vw(-4px));
      &:hover{
        transform: translateY(__vw(-5px));
        transition: 0.5s;
      }
    }
  }
}

.combo{
  font: bold __vw(50px) 'Cinzel', serif;
  color: #fff;
  animation: text-shadow 1s ease-in-out infinite;
  position: absolute;
  transform: translateX(-50%);
  left: calc(50% + __vw(10px));
  top: __vw(30px);
  z-index: 44;
  b{
    font-size: __vw(65px);
  }
}

.problem {
  font-size: __vw(20px);
  margin-bottom: __vw(16px);
  line-height: 135%;
  letter-spacing: -0.01em;
}

.hint{
  font-size: __vw(16px);
  margin-top: __vw(10px);
  margin-bottom: __vw(10px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .hint_hidden{
    padding: __vw(5px) __vw(10px);
    border-radius: __vw(20px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgb(53, 53, 53);
    background-color: rgb(53, 53, 53);
    margin-left: __vw(5px);
  }
  .hint_length{
    padding: __vw(5px) __vw(10px);
    border-radius: __vw(20px);
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: rgb(53, 53, 53);
    font-size: __vw(13px);
    margin-left: __vw(5px);
  }
}


